#blog-title-desktop {
font-size: 30px;
padding-bottom: 10px;
color: #555;
font-style: normal;
font-weight: 300;
line-height: 1.17em;
text-transform: uppercase;
letter-spacing: 0.20em;
-webkit-font-smoothing: antialiased;
}

#blog-title-mobile{
font-size: 17px;
color: #000;
font-style: normal;
font-weight: 300;
line-height: 40px;
text-transform: uppercase;
letter-spacing: 0.20em;
-webkit-font-smoothing: antialiased;
padding-top: 20px;
-webkit-box-shadow: 0px 3px #AAAAAA;
box-shadow: 0px 3px #AAAAAA;
padding-bottom:10px;
}


.blog{
	padding-left:20px;
	padding-top: 10px;
	min-height:800px;
	height:auto;
	background-color:#ccc;		
}

.blog-card{
    margin-bottom: 20px;
    margin-right: 2%;
    width:15%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-top-left-radius: 6px; 
    border-top-right-radius: 6px; 
    border-bottom-left-radius: 6px; 
    border-bottom-right-radius: 6px;
    overflow: hidden;
}
.blog-img{

    width:100%; 
   
}
.blog-title{
    padding: 10px;
    padding-bottom: 0px;
      
}
.blog-date{
    padding: 10px;
    
    
}
.blog .sperater{
    margin-bottom: 3px;
    border-bottom: 1px solid #e2e2e2;
}

.blog .no-padding{
	padding:0px!important;	
}

.blog .wrapper2{
	min-height:800px;
	padding-top:5px;
	padding-bottom:5px;	
}
.blog .navbar-form {
	margin-top: 0px;
}
.blog  .sort-control-label {
	margin-right: 5px;
}
.blog  .key-words-label {
	
	margin-right: 5px;
}
.blog  .panel-color-theme{

	font-size:12px;
	border:none;
	-webkit-box-shadow: 0 0 8px #bbb;
	-moz-box-shadow: 0 0 8px #bbb;
	box-shadow: 0 0 8px #bbb



}
.blog  .panel-color-theme>.panel-heading {
color: #fff;
background-color:#AAA;

}

.blog .catagory .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {

}


.blog .badge {
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 10px;
 font-weight: 100;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
background-color: #B8BDBB;
border-radius: 10px;
}
.blog .catagory-dropdown{
	padding-bottom:10px;	
}
.blog .key-words{
	
	padding-bottom:10px;	
	
}

.blog .navbar-form {
	padding: 0px 0px;
}
.blog .catagory-dropdown{
	display:inline-block;


}

.blog .key-words{
	display:inline-block;

}
.blog .row {
        margin-left: 0px;
        margin-right: 0px;
}

@media (min-width: 401px) and (max-width: 700px) {
    .blog .blog-card{
        
        width:48%; 
        
    }
   
     
}
@media (min-width: 701px) and (max-width: 991px) {
  .blog .blog-card{
        
        width:30%; 
        
    }
   
}
@media (min-width: 992px) and (max-width: 1199px) {
   .blog .blog-card{
        
        width:30%; 
        
    } 
   
    
}
@media (min-width: 1200px) and (max-width: 2560px) {
    .blog .blog-card{
        
        width:23%; 
        
    }

    
}


@media (max-width: 400px) {
    .blog .blog-card{
        width:100%; 
    }
    .blog .row{
        margin-left: 0px;
        margin-right: 0px; 
    }
   
}/* mobile view */
@media screen and  (max-width: 767px){
   
    .blog .navbar-form{
        margin-bottom: 0px;	
        border-bottom: none;
    }
    .blog .key-words{
        width:49%;	
    }
    .blog .catagory-dropdown{
        float:none;
        width:100%;	
    }
    .blog .key-words .btn{
        width:100%;	
    }
    .blog .catagory-dropdown .btn-group{
        width:100%;	
    }
    .blog .catagory-dropdown .btn{
        width:100%;	
    }
    .blog .navbar-form {
        padding: 10px 15px;
    }
}


