.cart-checkout-section{
	background-color:#ddd;	
}

.cart-checkout-section .main-title{
	padding:20px;
	
}
.cart-checkout-section .cart-summary{
	margin-left:5px;
	margin-bottom:5px;
}
.cart-checkout-section .cart-info{
	margin:5px;
	margin-right:0px;
}
.cart-checkout-section .item-description{
	
}
.cart-checkout-section .item-title{
	font-size:20px;
	padding-top:10px;
	padding-bottom:10px;	
}
.cart-checkout-section .item-price{
	font-size:20px;
	padding-top:10px;
	padding-bottom:10px;		
}
.cart-checkout-section 	#title {
	font-weight:bold;
}
/* person fill in panel style */

.cart-checkout-section .blue_left_border_panel {
border-left-color: #5bc0de!important;
padding: 20px;
margin: 10px 0;
border: 0px solid #5bc0de;
border-left-width: 5px;
border-radius: 3px;
background-color:#888;
}

.cart-checkout-section .item-description p>label {
width: 20%;
display: inline-block;
text-align: right;
padding-right: 2%;
font-weight: 700;
font-size: 16px;
}
.cart-checkout-section #price-table{
margin-top:-35px;	
}

.cart-checkout-section #map_canvas {
	width: 100%;
	height: 200px;
	background-color:#070;
}
.cart-checkout-section .CheckBoxWithMulChoice .panel-title{
	margin-top:20px;
}
.cart-checkout-section .CheckBoxWithMulChoice a:hover{
	text-decoration:none;	
}
.cart-checkout-section .CheckBoxWithMulChoice .panel-title{
	font-size:14px;	
}
.cart-checkout-section .transportation .panel-title{
	margin-top:20px;
}
.cart-checkout-section .transportation .hotel{
	background-color:#EEE;
}
.cart-checkout-section .transportation .condor{
	background-color:#EEE;
}

.cart-checkout-section .transportation a:hover{
	text-decoration:none;	
}
.cart-checkout-section .transportation .panel-title{
	font-size:14px;	
}
.cart-checkout-section .item-person-title{
	color:#EEE;	
}
.cart-checkout-section .list-group .list-group-item a{
	color:#5bc0de;
	cursor:pointer;	
}

.cart-checkout-section .transportation .list-group .list-group-item {
}
.cart-checkout-section .transportation .list-group .list-group-item:hover {
	
}

.cart-checkout-section .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
z-index: 2;
color: #fff;
background-color: #888;
border-color: #777;
}




@media (min-width: 992px) {   /* desktop view */
	
   .cart-checkout-section .container { /* 其它页面都是限在860px宽的, 这个1170px宽度是把CHECKOUT这页面还原到BOOTSTRAP的原始设定 */
        width: 1170px;
    }

}
@media (min-width: 768px){ /* desktop small window view  col-sm-x */
	.cart-checkout-section .plan_notes_box{
		padding-left:1px;
		padding-right:1px;
	}
	.cart-checkout-section .item-person {
		padding-left:1px;
		padding-right:1px;
	}
	
	.cart-checkout-section .group-transportation {
		padding-left:1px;
		padding-right:1px;
	}
	.cart-checkout-section .item-description p>label {
		width: 100%;
		text-align:left;
		
	
	}
	.cart-checkout-section .switch-to-zero-width-mobile-view{
		width:0%!important;
	}
	
	.cart-checkout-section #mobile-style{
		width:45%!important;
	}
	.cart-checkout-section #mobile-style1{
		width:45%!important;
	}
	.cart-checkout-section #mobile-style2{
		width:10%!important;
	}
	.cart-checkout-section #price-table{
	margin-top:0px;	
	}
}
@media (max-width: 767px){/* mobile view  */
	.cart-checkout-section .plan_notes_box{
		padding-left:1px;
		padding-right:1px;
	}

	.cart-checkout-section .item-person {
		padding-left:1px;
		padding-right:1px;
	}
	.cart-checkout-section .group-transportation {
		padding-left:1px;
		padding-right:1px;
	}
	.cart-checkout-section .item-description p>label {
		width: 100%;
		text-align:left;
		
	
	}
	.cart-checkout-section .switch-to-zero-width-mobile-view{
		width:0%!important;
	}
	
	.cart-checkout-section #mobile-style{
		width:45%!important;
	}
	.cart-checkout-section #mobile-style1{
		width:45%!important;
	}
	.cart-checkout-section #mobile-style2{
		width:10%!important;
	}
	.cart-checkout-section #price-table{
	margin-top:0px;	
	}
	
	.cart-checkout-section .plan-price{
	text-align: left;	  
	}
	.cart-checkout-section .main-title {
	font-size: 20px;
	}
	.cart-checkout-section .cart-summary{
	margin-right:5px
	}
	.cart-checkout-section .cart-info{
		margin-right:5px;
	}
}

/*==================================================
 * box panel background Effect 7
 * ===============================================*/
.panel-shadow-style
{
	margin-bottom:10px;
	border-radius:5px;
	background-color:#fff;
  	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.item-description label{
	font-weight: bold;		
}