@charset "utf-8";
/* Desktop View Program cards CSS Document */



.jumbotron .desktop-program-title{
	font-size: 30px;
	padding-bottom: 10px;
	color: #555;
	font-style: normal;
	font-weight: 300;
	line-height: 1.17em;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	-webkit-font-smoothing: antialiased;

}


.jumbotron .content{
	display: block;
	position: relative;
	width: 100%;
	height: 178px;
	margin: 0;
	padding-top: 50%;
	margin-left: auto;
	margin-right: auto;
	-webkit-font-smoothing: antialiased;

	
}
.jumbotron .program-title{

	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	line-height: 30px;
	color:#888;
	font-weight:100;
	-webkit-font-smoothing: antialiased;

}

.jumbotron .from{
	font-family: 'Oswald', sans-serif;
	width:48px;
	color: #888;
	font-size: 14px;
	line-height: 25px;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;

	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	
}


.jumbotron .price{
	font-family: 'Oswald', sans-serif;
	color: #888;
	font-size: 20px;
	font-weight: 30px;
	line-height: 60px;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
}

.jumbotron{
	background-color:#DDD;
/*	background:url(../img/etc/program-bg.jpg);*/
	margin-bottom: 0px;

}

.programs{
	border-right: solid 1px #e5e5e5;	
}
.programs p {
	margin-bottom: 0px;
}
.gray-bg{
	background-color:#E1E0E2;
}
.white-bg{
	background-color:#FFF;
}
.programs-card{
	height:266px;
	padding-left:0px;
	background-color:#FFF;
	border-radius: 4px;
	cursor:pointer;
}
.program-shadow{
	background-image: url(../img/etc/shadow2.png);
	background-repeat: no-repeat;
	height: 30px;
	background-size: 100% auto;
	
}
.five-rows-text-limit{

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; 

}
.four-rows-text-limit{

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; 

}
.three-rows-text-limit{

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 

}
.two-row-text-limit {
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}

.one-row-text-limit {
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
}

/* image size box - one class finish all the job for resizing the img*/
.programs-card .item {
	min-height: 266px;/* desktop view image height*/
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}
.tour1 {
    background: url(../img/plan/tour1.jpg) no-repeat center center;
}
.tour2 {
    background: url(../img/plan/tour2.jpg) no-repeat center center;
}

.tour3 {
    background: url(../img/plan/tour3.jpg) no-repeat center center;
}

.tour4 {
    background: url(../img/plan/tour4.jpg) no-repeat center center;
}
.tour5 {
    background: url(../img/plan/tour5.jpg) no-repeat center center;
}
.tour6 {
    background: url(../img/plan/tour6.jpg) no-repeat center center;
}
.tour7 {
    background: url(../img/plan/tour7.jpg) no-repeat center center;
}
.news1{
	background: url(http://ww2.sinaimg.cn/bmiddle/b4031917gw1elcof5i8cyj20bw0gn75l.jpg)no-repeat center center; 	
}
.news2{
	background: url(http://ww3.sinaimg.cn/bmiddle/b4031917gw1elbkmi428rj20b70cj3zt.jpg)no-repeat center center; 	
}
.news3{
	background: url(http://ww4.sinaimg.cn/bmiddle/b4031917jw1elberq3r7vj20h4078wgi.jpg)no-repeat center center; 	
}
.news4{
	background: url(http://ww3.sinaimg.cn/bmiddle/b4031917jw1elbetpc1qjj20ci08cq4f.jpg)no-repeat center center; 	
}
.navlogo{
	background: url(http://ussmissouri.cn/bundles/business/images/template/logo.png	)no-repeat center center;
	background-size: contain;
}
.navlogo1{
	background: url(http://totalgdsimg.qiniudn.com/536c1f6994a252f72400005f	)no-repeat center center;
	background-size: contain;
}
.navlogo2{
	background: url(http://www.koolinaoceanadventures.com/images/logot.png)no-repeat center center;
	background-size: contain;
}
#no-left-padding{
	padding-left:0px;
}


#no-padding{
	padding:0px;
}

.fadeIn {
  -vendor-animation-duration: 10s;
  -vendor-animation-delay: 5s;
  -vendor-animation-iteration-count: infinite;
}

.jumbotron .view-detail{
	font-family: 'Oswald', sans-serif;
	width:100px;
	color: #313131;
	font-size: 14px;
	line-height: 25px;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
	border-top: solid 1px #d2d2d2;
	border-bottom: solid 1px #d2d2d2;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.jumbotron .view-detail:hover{
	box-shadow: 0 0 5px #000;
	
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-property: box-shadow;
	-webkit-transition-timing-function: linear;
	
	transition-delay: 0s;
	transition-duration: 0.25s;
	transition-property: box-shadow;
	transition-timing-function: linear;

}
.jumbotron .programs h5{
line-height: 22px;	
}


/* mobile view of program plans - home page */
.mobile{
	padding-bottom:10px;
	background-color:#DDD;	
}
.padding-left-right-3%{
	padding-left:3%;
	padding-right:3%;
}

.mobile-program-card{
	cursor:pointer;
	background-color:#fff;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-webkit-box-shadow: 0px 2px rgba(170, 170, 170, 0.39);
	box-shadow: 0px 2px rgba(170, 170, 170, 0.39);
}
.mobile-program-card .program-image{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.mobile-program-title .mobile-program-card{
	cursor:default;
	padding: 30px;
	border-radius: 5px;
	overflow: hidden;
	
	
}

.mobile-program-card .item {
	min-height:200px;   /* mobile programe image height */
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mobile-program-title{
	
	font-size: 17px;
	color: #000;
	font-style: normal;
	font-weight: 300;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	-webkit-font-smoothing: antialiased;
	padding-top:20px;
	-webkit-box-shadow: 0px 3px #AAAAAA;
	box-shadow: 0px 3px #AAAAAA;
}

.mobile-program-card .price{
	vertical-align:middle;
    display:table-cell;
    float:none;
	padding-right: 0px;		
}
.mobile-program-card .price h5{

	color:#777;
	padding-bottom:8px;
	padding-top:8px;
	padding-left: 15px; 
	padding-right: 15px; 
	border-radius:2px;
	background-color:rgba(0,0,0,0.1);
		
}

.mobile-program-card .title{
	vertical-align:middle;
    display:table-cell;
    float:none;
	font-size:18px;
	color:#111;
	padding-bottom:3px;
	padding-top:3px;
	border-radius:2px;
	line-height:24px;
	
		
}

.mobile-program-card .program-detail .row{
	position:relative;
	margin-right: -3px; /* override bootstrap */
	margin-left: 0px; /* override bootstrap */
}	

