
html, body{
	font-family: 'Open Sans', sans-serif!important;
	
}
/* navigation bar section */

@media (max-width: 767px){/* fix mobile view menu bar static stick to the top */

.navbar-fixed-top {
	position: static;
	margin-bottom: 0px;
}
}
.navbar *{
	text-transform: uppercase;
	font-size: 12px;	
}

.navbar-brand{
	font-size: 25px;
	padding-bottom: 10px;
	color: #555;
	font-style: normal;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	-webkit-font-smoothing: antialiased;
	line-height:30px;
	height: auto;
	white-space:pre-wrap;
}
.theme1-nav .navbar-toggle{
  
  float: none;
  margin-right: 0;
}


.main-nav{
	background-color:#333;	
}
.navbar-default .navbar-nav>li>a {
color: #999;
}
.navbar-default .navbar-nav>li>a:hover {
color: #fff;
-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-property: color;
	-webkit-transition-timing-function: linear;
	
	transition-delay: 0s;
	transition-duration: 0.25s;
	transition-property: color;
	transition-timing-function: linear;
}
.secondary-nav .dropdown-toggle:hover {
color: #000!important;
-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-property: color;
	-webkit-transition-timing-function: linear;
	
	transition-delay: 0s;
	transition-duration: 0.25s;
	transition-property: color;
	transition-timing-function: linear;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #fff;
border-bottom:4px solid #fff;
background-color:#333;
}

/*.open>.dropdown-menu {
border-top:4px solid #666;
}*/

/* mobile vertical alignment styles */
.theme1-nav .col-middle {
    vertical-align:middle;
	padding-right:20px;
}


/* mobile vertical alignment styles */
.theme1-nav .col-xs-height {
    display:table-cell;
    float:none;
}


.main-nav .navbar-default .navbar-nav>li>a:visited {
color: #999;

}

.navbar .secondary-nav{
	padding-right: 30px;	
}



@media (max-width: 767px){/*mobile view */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
border-bottom:0px solid #fff;
border-left:4px solid #fff;
background-color:#333;
}
.navbar-brand{
	font-size: 20px;
}

}
/* end of navigation bar section */


/* blinking text */

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
}


/* end of blinking text css */


/* THE CAROUSEL slidershow section
-------------------------------------------------- */

/* Carousel base class */
 .carousel {
   /* padding-top: 105px;*/
	border-bottom:1px solid #000;
    /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

@media (max-width: 767px){
.carousel {
   /* padding-top: 57px;*/
    /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

}
/* Since positioning the image, we need to help out the caption */
 .carousel-caption {
    text-shadow: none;
    z-index: 10;

    margin: 50px;
    padding: 0 40px;
}

.carousel-caption h1 {
    font-size: 80px;
    font-weight:200;
    line-height:1;
}

.carousel-caption-shade {
    color: #fff;
    background-color: rgba(250,250,250,.3)
}

.carousel-indicators {
  z-index: 13;
}
/* Declare heights because of positioning of img element */
 .carousel .item {
    min-height:400px;
    min-width:100%;
    background-color: #f2f2f2;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    height:500px;
}
.carousel-inner .item {
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
.carousel-control.left {
  background-image: none;
}
.carousel-control.right {
  background-image: none;
}

.img-40 {
    width:40%;
}


.ad1 {
    background: url(../img/banner/place6.jpg) no-repeat center center;
}
.ad2 {
    background: url(../img/banner/place4.jpg) no-repeat center top;
}

.ad3 {
    background: url(../img/banner/place2.jpg) no-repeat center top;
}

.ad4 {
    background: url(../img/banner/place3.jpg) no-repeat center top;
}
.ad5 {
    background: url(../img/banner/place6.jpg) no-repeat center top;
}



.shadow-layer {
    background-color:none;
    background-color: rgba(0,0,0,0.3);
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.shadow-layer:hover {
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Remove the edge padding needed for mobile */
    .marketing {
        padding-left: 0;
        padding-right: 0;
    }
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

  .carousel-caption h1{
     font-size: 60px;
  }
}
@media (max-width: 991px) {j
    .carousel .item {
    min-height:500px;
    }
}
@media (min-width: 992px) {
    /* Narrow Menu bar and Body part, but banner slider show */
   .container {
        width: 860px;
    }

  .carousel-caption h1{
     font-size: 70px;
  }
}
@media (max-width: 767px) {/*mobile view */
	.carousel{
	}
    .carousel .item {
    min-height:400px;
    }

    .carousel-caption {
        padding: 0;
    }
    .carousel-caption h1 {
        font-size:40px;
    }

}


/* Buttons
--------------------------------*/
.btn-clear {
    color: #fff;
    background-color: transparent;
    border: 3px solid #fff;
}
.btn-clear:hover {
    color: #333;
    background-color: #fff;
    border: 3px solid #fff;
}
.btn-clear:focus,
.btn-clear:active, {
    color: #fff;
    background-color: transparent;
    border: 3px solid #fff;
}
.btn-dark {
    font-weight: 400;
    color: #fff;
    background-color: #444;
    border: 1px solid #444;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #444;
    background-color: #fff;
    border: 3px solid #444;
}
.btn-clear-on-white {
    color: #333;
    background-color: transparent;
    border: 1px solid #c1c1c1;
}
.btn-clear-on-white:hover,
.btn-clear-on-white:focus {
    color: #333;
    background-color: #f1f1f1;
    border: solid 1px #c1c1c1;
}
.btn-clear-on-white:active {
    color: #fff;
    background-color: #333;
}
.btn-group .btn .
.input-group button {
    margin-left: 5px;
}


/* image size box - one class finish all the job for resizing the img - you need to size the image box*/
.ratio-img-box-cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}


/***************footer section**********************/

footer { 
 font-size: 10px;
	font-style: normal;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	-webkit-font-smoothing: antialiased;
  height: auto;
  padding: 28px 0 5px 0;
  text-align: center; 
  background: #333;
  margin: 0;
  position: relative;
  color: #BBB;
  opacity: 1;
/*  border-top: 2px dotted #555;*/

}
footer .cotyright{
    margin: 10px 0;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
}
footer .tip{
    width: 0;
    height: 0;
    position: absolute;
    top: -36px;
    right: 20%;
}
footer a{
    color: #EEE;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	line-height:20px;
}
footer .supportedby{
	margin-bottom:30px;
}
footer .supportedby-texts{
	margin-bottom:10px;
}
footer .socialmedia-footer{
	letter-spacing: 1px;
}
footer .powerby{
	text-transform:capitalize;
}
	
/* end of footer section */

